body {
    font-family: Arial;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.card {
    width: 300px;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    text-align: center;
}

input, select, button {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 8px;
}

.topbar h2 {
    margin: 0;
}

.topbar span {
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
}

.topbar button {
    background: green;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;   /* important */
}
.sidebar {
    position: fixed;
    left: -200px;
    width: 200px;
    height: 100%;
    background: white;
    transition: 0.3s;
}

.sidebar a {
    display: block;
    padding: 10px;
}

.main {
    text-align: center;
    margin-top: 100px;
}

.big-btn {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}